<p>
  <strong><%= @design.title %></strong>
</p>

<p>
  <%= link_to image_tag(@design.image.url(:boxbc)), @design.image.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @design.price %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
